<div class="card border w-100">
    <div class="card-header pb-0 px-0">
        <div class="d-flex px-4 mb-3 justify-content-between">
            <div class="icon-left">
                <div class="selec">
                    <i class="fa-regular fa-square"></i>
                <select name="" id="">
                    <option value="tous">Tous</option>
                    <option value="aucun">Aucun</option>
                    <option value="lus">Lus</option>
                    <option value="suivis">Suivis</option>
                    <option value="non_suivis">Non suivis</option>
                </select>
                </div>
    
                <i class="fa-solid fa-arrow-rotate-right"></i>
                <i class="fa-solid fa-ellipsis-vertical"></i>
            </div>
            <div class="icon-right">
                <small class="pagination">
                    1-50 sur 100
                </small>
                <i class="fa-solid fa-angle-left"></i>
                <i class="fa-solid fa-angle-right"></i>
                <i class="fa-solid fa-bars-staggered"></i>
            </div>
        </div>

        <div class="header-links d-flex">
            @for(headerLink of headerLinks; track $index) {
                <div (click)="toggleActive(headerLink.id)" [ngClass]="{'active': activeId == headerLink.id}" class="content">
                    @if(activeId == headerLink.id) {
                        <app-header-links [isActive]="true" [myLink]="headerLink"/>
                    } @else {
                        <app-header-links [isActive]="false" [myLink]="headerLink"/>
                    }
                </div>
            }
        </div>
    </div>
    
    <div class="card-body"></div>
</div>