.card {
    .card-header {
        .icon-left,
        .icon-right {
            width: fit-content;
            display: flex;
            gap: 30px;
            align-items: center;

            select {
                width: 20px;
                background: none;
                border: none;
            }
        }

        .active {
            border-bottom: 2px solid rgb(11, 87, 208);

            .text-muted {
                color: rgb(11, 87, 208);
            }
            
        }
    }
}