<div class="card border w-100">
    <div class="card-header">
        <div class="d-flex justify-content-between">
            <div class="icon-left">
                <div class="selec">
                    <i class="fa-regular fa-square"></i>
                <select name="" id="">
                    <option value="tous">Tous</option>
                    <option value="aucun">Aucun</option>
                    <option value="lus">Lus</option>
                    <option value="suivis">Suivis</option>
                    <option value="non_suivis">Non suivis</option>
                </select>
                </div>
    
                <i class="fa-solid fa-arrow-rotate-right"></i>
                <i class="fa-solid fa-ellipsis-vertical"></i>
            </div>
            <div class="icon-right">
                <small class="pagination">
                    1-50 sur 100
                </small>
                <i class="fa-solid fa-angle-left"></i>
                <i class="fa-solid fa-angle-right"></i>
                <i class="fa-solid fa-bars-staggered"></i>
            </div>
        </div>

        <div class="header-links">
            
        </div>
    </div>
    
    <div class="card-body"></div>
</div>